@media screen and (max-width: 595px) {
    #sub-p{
        font-size: 12px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 520px) {
    #sub-p{
        font-size: 10px;
        padding: 0px 60px 0px 60px;
    }

    #container-circle-img-1.hide{
        border-radius: 50%;
        
        width: 200px;
        height: 200px;
    }

    #container-circle-img-2.hide{
        border-radius: 50%;
        
        width: 200px;
        height: 200px;
    }

    #container-circle-img-3.hide{
        border-radius: 50%;
        
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 390px) {
    #sub-p{
        padding: 0px 30px 0px 30px;
        margin-bottom: 50px;
    }
}
